<br>
<div class="container-fluid">
    <h1 class="display-4 text-center">Visualizing and Predicting Heart Diseases with an Interactive Dash Board.</h1>
    <div class="d-flex justify-content-around">
        <div class="d-flex  align-items-center">
            
            <div class="p-2">
                  <%= link_to "IBM Cognos Analytics with Watson","https://www.ibm.com/in-en/products/cognos-analytics",class:"btn btn-info"%>
            </div>
        </div>
    </div>
</div>
<br>
<hr>
<h1 class="display-4 text-center">How it works?</h1>
<br>
<div class="container-fluid">
    <div class="d-flex justify-content-around">
    
        <div class="card-deck w-75">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title text-center">Step 1</h5>
                
                <p class="card-text text-center"><i class="bi bi-box-arrow-in-right"></i><br>Login/SignUp on HeartHealthCare.</p>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <h5 class="card-title text-center">Step 2</h5>
                <p class="card-text text-center"><i class="bi bi-check-circle"></i><br>Access the IBM Cognos Dash Board.</p>
              </div>
            </div>
            <div class="card">
              <div class="card-body text-center">
                <h5 class="card-title">Step 3</h5>
                <p class="card-text text-center"><i class="bi bi-graph-down"></i><br>View the  Data Visualizations.</p>
            </div>
          </div>
    </div>
</div>
<hr>
