<br>
<div class="container-fluid">
    <h1 class="display-4 text-center">Visualizing and Predicting Heart Diseases with an Interactive Dash Board.</h1>
    <div class="d-flex justify-content-around">
        <div class="d-flex  align-items-center">
            
            <div class="p-2">
                  <%= link_to "IBM Cognos Analytics with Watson","https://www.ibm.com/in-en/products/cognos-analytics",class:"btn btn-info", target: "_blank" %>
            </div>
        </div>
    </div>
</div>
<br>
<hr>
<h1 class="display-4 text-center">How it works?</h1>
<br>
<div class="container-fluid">
    <div class="d-flex justify-content-around">
    
        <div class="card-deck w-75">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title text-center">Step 1</h5>
                
                <p class="card-text text-center"><i class="bi bi-box-arrow-in-right"></i><br>Login/SignUp on HeartHealthCare.</p>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <h5 class="card-title text-center">Step 2</h5>
                <p class="card-text text-center"><i class="bi bi-check-circle"></i><br>Access the IBM Cognos Dash Board.</p>
              </div>
            </div>
            <div class="card">
              <div class="card-body text-center">
                <h5 class="card-title">Step 3</h5>
                <p class="card-text text-center"><i class="bi bi-graph-down"></i><br>View the  Data Visualizations.</p>
            </div>
          </div>
    </div>
</div>
  <br>
<hr>
  <br>
</div>
<div class="d-flex justify-content-around">
  <div class="row align-items-center">
    <div class="col">
  <div>
    <h1 class="display-4 text-center">Story Representation</h1>
    <p class="text-center">tap <i class="bi bi-play-circle-fill"></i> button to view story </p>
  </div>
    </div>
    <div class="col">
      <iframe src="https://us3.ca.analytics.ibm.com/bi/?perspective=story&amp;pathRef=.public_folders%2FHeart%2BDisease%2BPrediction%2FStory%253A%2BDB-01-Average%2BAge%2BFor%2BDifferent%2BChest%2BPain%2BTypes&amp;closeWindowOnLastView=true&amp;ui_appbar=false&amp;ui_navbar=false&amp;shareMode=embedded&amp;action=view&amp;sceneId=model0000018465fa6c45_00000000&amp;sceneTime=4200" width="800" height="500" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen=""></iframe>
    </div>
    </div>
</div>
<br>
<hr>
<br>
<div class="d-flex justify-content-around">
  <div class="row align-items-center">
    <div class="col">
      <div>
        <iframe src="https://us3.ca.analytics.ibm.com/bi/?perspective=dashboard&amp;pathRef=.public_folders%2FHeart%2BDisease%2BPrediction%2FDB-01-Average%2BAge%2BFor%2BDifferent%2BChest%2BPain%2BTypes&amp;closeWindowOnLastView=true&amp;ui_appbar=false&amp;ui_navbar=false&amp;shareMode=embedded&amp;action=view&amp;mode=dashboard&amp;subView=model0000018465fa6c45_00000000" width="800" height="500" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen=""></iframe>
      </div>
    </div>
    <div class="col">
      <h1 class="display-4 text-center">Dashboard Representation</h1>
      <p class="text-center">tap different tabs to view dashboard </p>
    </div>
  </div>
</div>
<br>
<hr>
<br>
<div class="d-flex justify-content-around">
  <div class="row align-items-center">
    <div class="col">
      <div>
        <h1 class="display-4 text-center">You can get started right away by taking a look at IBM introduction video. </h1>
      </div>
    </div>
    <div class="col">
      <iframe width="720" height="500" src="https://www.youtube-nocookie.com/embed/iRspEToLTwo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>
<br>
<hr>
<br>

